#
# Shorewall version 4 - Rules File
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
############################################################################################################################
#ACTION         SOURCE          DEST            PROTO   DEST    SOURCE          ORIGINAL        RATE            USER/   MARK
#                                                       PORT    PORT(S)         DEST            LIMIT           GROUP
#SECTION ESTABLISHED
#SECTION RELATED
SECTION NEW

#Origin Firewall
Ping/ACCEPT     fw      net                                     #Ping from fw
HTTP/ACCEPT     fw      net                                     #apt
HTTPS/ACCEPT    fw      net                                     #duplicity
DNS/ACCEPT      fw      net                                     #DNS
ACCEPT          fw      net     udp     123                     #NTP
SMTP/ACCEPT     fw      net     tcp                             #Email delivery
ACCEPT          fw      net     tcp     22                      #SSH
ACCEPT          fw      net     tcp     47                      #SSH
ACCEPT          fw      net     tcp     10051                   #Zabbix
ACCEPT          fw      net     tcp     10050                   #Zabbix

#Origin Net
ACCEPT          net     fw      tcp     22                      #SSH
ACCEPT          net     fw      tcp     47                      #SSH
ACCEPT          net     fw      tcp     80                      #HTTP
ACCEPT          net     fw      tcp     443                     #HTTPS
ACCEPT          net     fw      tcp     10050                   #Zabbix
ACCEPT          net     fw      tcp     10051                   #Zabbix


#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
