#This File was auto generated. Do not perform any modification in file.
UserParameter=system.monthlybandwidth,/home/ddevops/zabbix/zabbix_total_month_bandwidth.sh
UserParameter=system.varnishhitrate,/home/ddevops/zabbix/zabbix_varnish_hitrate.sh
UserParameter=system.varnishnuked,/home/ddevops/zabbix/zabbix_varnish_nuked.sh
UserParameter=system.memcachedhitrate,/home/ddevops/zabbix/zabbix_memcached_hitrate.sh
UserParameter=system.memcachedfillratio,/home/ddevops/zabbix/zabbix_memcached_fillratio.sh
UserParameter=system.apchitrate,/home/ddevops/zabbix/zabbix_apc_hitrate.sh
UserParameter=system.apcfillratio,/home/ddevops/zabbix/zabbix_apc_fillratio.sh
UserParameter=system.rsnapshot.backup.status,cat /home/ddevops/status/rsnapshotstatus
UserParameter=system.mysql.backup.status,cat /home/ddevops/status/mysqlstatus
UserParameter=system.duplicity.status,cat /home/ddevops/status/duplicitystatus
UserParameter=system.mount.check,mount | grep "/mnt/backups" | wc -l
UserParameter=system.analog.stats,cat /home/ddevops/status/analog
UserParameter=system.ec2snapshot.status,cat /home/ddevops/status/ec2snapshotstatus
#
