#!/bin/bash
#function to check php and apc are available

check_ () {
        if [ $1 -ne 0 ]; then
        echo 0; exit 0
        fi
  }

check_ `dpkg -l | grep -q apc;echo $?`
check_ `php -m | grep -q apc; echo $?`

Port=$(netstat -tunlp |  awk '$7 ~ "apache" && $4 ~ /\:80/' | awk '{print $4}' | awk -F: '{print $NF}' | head -n 1)
        if [ "$Port" == '' ]; then
        Port=80
        fi
        /usr/bin/php /home/arpatech/zabbix/apc-stats.php $Port | grep hits_rate | cut -d"=" -f2


